table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

.completo{
  width: 100%;
}


.scroll {
  overflow-x: auto;
} 

.butt {
  padding: 0 !important;
}