<div class="mt-4">

    <div class="offset-md-1 col-md-10">
      <div class="alert alert-primary" role="alert" *ngIf="alert">
        {{textAlert}}
      </div>

        <div class="drac-boc drac-card drac-bg-purple drac-p-md">

            <div class="row">
                <h2 class="drac-heading drac-heading-xl drac-text-white">{{title}}</h2>
            </div>
            
            <div class="row">

                <div class="col-xl-4 col-md-4 col-12">
                    <label for="nombre">Nombre</label>
                    <input
                    placeholder="introduce un valor"
                    class="drac-input drac-input-white drac-text-white"
                    [(ngModel)]="serie.nombre"
                    />
                </div>
        
                <div class="col-xl-4 col-md-4 col-12">
                    <label for="nombre">Plataforma</label>
                    <div style="position: relative">
                        <select class="drac-select drac-select-white" [(ngModel)]="serie.plataforma">
                          <option value="default" disabled="" selected="">Selecciona una plataforma</option>
                          <option value="Netflix">Netflix</option>
                          <option value="Prime Video">Prime Video</option>
                          <option value="HBO Max">HBO Max</option>
                          <option value="Star+">Star+</option>
                          <option value="Disney+">Disney+</option>
                          <option value="Apple TV+">Apple TV+</option>
                          <option value="VIX+">VIX+</option>
                        </select>
                        <div class="drac-select-arrow drac-text-white">
                          <svg
                            viewBox="0 0 24 24"
                            focusable="false"
                            role="presentation"
                            aria-hidden="true"
                          >
                            <path
                              fill="currentColor"
                              d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"
                            ></path>
                          </svg>
                        </div>
                    </div>
                </div>
        
                <div class="col-xl-4 col-md-4 col-12">
                    <label for="nombre">Año</label>
                    <input
                    placeholder="introduce un valor"
                    class="drac-input drac-input-white drac-text-white"
                    maxlength="4" minlength="4"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    [(ngModel)]="serie.year"
                    />
                </div>
        
                <div class="col-xl-4 col-md-4 col-12">
                    <label for="nombre">Calificación</label>
                    <div style="position: relative">
                        <select class="drac-select drac-select-white" [(ngModel)]="serie.calificacion">
                          <option value="default" disabled="" selected="">Selecciona una calificación</option>
                          <option value="1">1</option>
                          <option value="1.5">1.5</option>
                          <option value="2">2</option>
                          <option value="2.5">2.5</option>
                          <option value="3">3</option>
                          <option value="3.5">3.5</option>
                          <option value="4">4</option>
                          <option value="4.5">4.5</option>
                          <option value="5">5</option>
                        </select>
                        <div class="drac-select-arrow drac-text-white">
                          <svg
                            viewBox="0 0 24 24"
                            focusable="false"
                            role="presentation"
                            aria-hidden="true"
                          >
                            <path
                              fill="currentColor"
                              d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"
                            ></path>
                          </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-xl-4 offset-md-8 col-md-4 offset-xl-8 offset-sm-0 col-12 d-grid gap-2">
                    <button type="button"
                        class="drac-btn drac-bg-pink btn-block round" [disabled]="disabled" (click)="enviar()">{{buttonText}}</button>
                </div>
            </div>

        </div>

    </div>

</div>


    


